@keyframes cores{
    0% {
        transform: translateX(0);
        background: red;
    }

    50% {
        transform: translateX(200);
        background: blue;
    }

    100% {
        transform: translateX(0);
        background: green;
    }
}

.box{
    width: 100px;
    height: 100px;
    background: red;
    animation: cores 3s infinite;
}